p {
  background-color: red;
  padding: 15px;
  text-align: center;
  border: 5px solid rgb(204, 2, 2);
  box-shadow: 3px 4px 7px black;
  margin: 20px auto;
  width: 500px;
  color: white;
  border-radius: 50px;
}
